<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <ng-container *ngFor="let hero of heroes, index as i">
    <div class="col align-items-stretch"
    (click)="openDialog(hero.id, hero.name, hero.description, hero.image)"
    >
      <div class="card shadow-sm">
        <div class="card-header">
          <h3 class="card-title">{{hero.name | uppercase}}</h3>
        </div>
        <div class="card-body">
          <img class="card-img-top" src={{hero.image}} alt="Card image cap">
        </div>
      </div>
    </div>
  </ng-container>
</div>

