<div class="container">
<h1>{{data.name}}</h1>
  <div class="row">
    <div class="col">
      <div class="img">
        <img src={{data.image}} class="img-modal">
      </div>
    </div>
    <div class="col">
      <span class="description-modal">
        {{data.description}}
      </span>
    </div>
  </div>

  <mat-dialog-actions>
    <button class="update-data" (click)="handleUpdateValue()">Modifier</button>
    <button mat-button mat-dialog-close id="mat-button">Quitter</button>
  </mat-dialog-actions>

  <ng-container *ngIf="updateValue">
    <div class="row mt-5">
      <hr>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="col">
          <div class="form-group">
            <label>Nom</label>
            <input id="modal-update-name" class="form-control" name="name" ngModel  [(ngModel)]="data.name">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Description</label>
            <textarea id="modal-update-description" class="form-control" name="description" [(ngModel)]="data.description " ngModel ></textarea>
          </div>
          <button class="btn btn-primary mt-2" [disabled]="f.invalid">Enregistrer</button>
        </div>
      </form>
    </div>
  </ng-container>

</div>
